.channel-sidebar {
  line-height: 26px;
  font-size: 16px;
}

.channels-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px 0 15px;
  margin-top: 10px;
  color: white
}

.channels-title {
  font-weight: 400;
  width: 162px;
}

 .create-channel-button {
  font-weight: 300;
  font-size: 22px;
  color: rgb(202,196,201);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

}


.create-channel-button:hover {
  color: white;
}

.channel-symbol {
  font-weight: 400;
  padding: 0 5px;
  font-size: 14px;
}
.channel-ul {
  padding-bottom: 15px;
}
.channel-li {
  height: 26px;
  max-height: 26px;
  padding: 0px 12px 0px 15px;
  font-size: 16px;
  color: rgb(202,196,201);
  cursor: pointer;
  font-weight: 400;
}

.channel-li:hover {
  background: #7f599c;
  color: white;
}

#selected-channel {
  background: #d64cc8;
  color: white;
  font-weight: bold;
}


.channel-li button {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.title-symbol {
  max-height: 26px;
  max-width: 9px;
  margin-right: 7px;
  color: #969096;
}

.lock-title-symbol {
  font-size: 13px;
  opacity: 0.85;
}

.channel-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 172px;
}

.dm-dot {
  color: #52326b;
  background-color: lightgray;
  border-radius: 4px;
  line-height: 16px;
  padding: 0 4px;
  font-weight: bold;
  opacity: 0.6;
}
