
.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: middle;
  align-items: center;
  padding: 10px 0 5px 20px;
  width: 100%;
  min-height: 59px;
  border-bottom: 1px solid lightgray;

}

.chat-header-title {
  font-weight: bold;
  font-size: 18px;
}

.chat-header-title {
  margin-bottom: 10px;
}

.chat-header-left-people {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  font-size: 15px;
  width: 40px;
  color: gray;
  transition: all 0.2s ease-in-out;
    -webkit-filter: grayscale(100%);
    z-index: -1;
}
.chat-header-left-people:hover {
  color: #b332a6;
  -webkit-filter: none;
  cursor: pointer;
}

.duck {
  margin-top: 2px;
  margin-right: 2px;
  width: 18px;
  height: 15px;
}

.chat-header-right {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  margin-right: 50px;
}

.chat-header-right i {
  height: 18px;
  width: 18px;
  color: gray;
  margin: auto 10px;
  transition: all 0.2s ease-in-out;
}

.chat-header-right i:hover {
  color: #885cb5;
  cursor: pointer;
}

.dark-mode-button {
  height: 30px;
  padding: 0 3px;
  margin: 0 10px;
  background-color: #8862e3;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;

}

.dark-mode-button:hover {
  cursor: pointer;
  background-color: black;
}

.light-mode-button {
  height: 30px;
  padding: 0 3px;
  margin-left: 10px;
  background-color: red;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  box-sizing: border-box;
  z-index: 99;

}
.light-mode-button:hover {
  cursor: pointer;
}

.darkness {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 0px;
  width: calc(100%);
  height: calc(100%);
  background-color: black;
  color: white;
  font-size: 50px;
  z-index: 98;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.darkness img {
  width: 400px;
  margin: 20px auto;
}
