.fullscreen {
  position: absolute;
  height: calc(100% - 100px);
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  padding-top: 100px;
  background-color: white;
  z-index: 98;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.create-channel-form {
  width: 650px;
  margin-left: calc(100% - 650 / 2);

}

.create-channel-form h2 {
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.create-channel-form p {
  color: #7b7979;
  margin: 20px 0 0 5px;
}

.form-privacy {
  margin-top: 20px;
}

.form-privacy * {
  display: inline-block;
  margin: 0;

}

.private-button {
  background-color: #8862e3;
  color: white;
  border-radius: 40px;
  padding: 1px 10px;
  font-size: 14px;
  cursor: pointer;
}
.form-privacy aside {
  margin-left: 15px;
  color: #7b7979;
}

.channel-input-container {
  height: 50px;
}

.channel-input-container h3 {
  margin: 20px 0 5px 0;
  color: black;
}

.channel-input-container input {
  height: 40px;
  width: 620px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 20px;
  color: black;
}

.purpose-field {
  display: flex;
  flex-direction: row;
}

.purpose-field aside {
  margin: 22px 0 3px 5px;
  color: #7b7979;
}

.channel-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 5px;

}

.cancel-button {
  padding: 15px 18px;
  border: 1px solid gray;
  border-radius: 5px;
  color: #7b7979;
  font-weight: bold;
  box-sizing: border-box;
  height: 51px;
}

.cancel-button:hover {
  color: #8862e3;
  cursor: pointer;
}

.submit-button {
  height: 51px;
  padding: 15px 18px;
  margin-left: 10px;
  background-color: #8862e3;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  box-sizing: border-box;


}

.submit-button:hover {
  background-color: #6743be;
  cursor: pointer;
}

.channel-form-cancel {
  width: 40px;
  height: 40px;
  padding: 10px;
  font-size: 24px;
  color: lightgray;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;

}
.channel-form-icon {
  color: gray;
}

.channel-form-cancel:hover {
  background-color: lightgray;
  color: black;
}

.form-esc {
  font-size: 12px;
}

.search-users-bar {
  display: flex;
  flex-direction: row;

}

.search-users-bar input {
  height: 40px;
  width: calc(100% - 100px);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 15px;
  margin-bottom: 20px;
  color: black;
}

.search-user-results {
  width: 100%;
  overflow-y: auto;
  height: 340px;
  border-top: 1px solid lightgray;
  display: flex;
  flex-direction: column;
}

.search-user-item {
  border-bottom: 1px solid lightgray;
  min-height: 40px;
  padding: 14px 10px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  text-align: center;
  color: black;
}

.search-user-item:hover {
  cursor: pointer;
  background-color: #e2d6ff;
}

.selected-user-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
  margin-bottom: 10px;

}

.selected-user-item {
  min-width: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align:  middle;
  align-items: center;
  background-color: #3aa373;
  border-radius: 5px;
  color: white;
  padding: 2px 5px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.chosen {
  background-color: #c8ffdd;
}

.selected-user-item:hover {
  background-color: #2e8f63;
  cursor: pointer;
}

.selected-user-item i {
  margin: 0 5px;
  color: white;
}
