.session-body-container{
  background-color: rgb(249, 249, 249);
  height: 700px;
}


.session-form-container {
  border: 2px solid lightgrey;
  background: white;
  width: 610px;
  margin: auto;
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 0 1px lightgray;
}

.form-title {
  text-align: center;
  padding-top: 15px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 25px 0px;
}


.session-errors{
  color: red;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 143px;
  left: 655px;
}


.label{
  margin: auto;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.user-input {
  border: 0;
  height: 45px;
  width: 350px;
  border: 1px solid #919193;
  margin: 0 20%;
  margin-top: 20px;
  font-size: 18px;
  padding-left: 20px;
  border-radius: 3px;
}


.session-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  background-color: deeppink;
  font-size: 20px;
  color: #fff;
  padding: 10px 0px;
  border-radius: 5px;
  cursor: pointer;
  width: 372px;
  height: 50px;
  margin-top: 16px;
  font-weight: 700;
  text-align: center;
  margin-left: 124px;
  margin-right: 124px;
  transition: all 0.2s ease-in-out;
}

.session-button:hover {
  background-color: #8f09ea;
}

.checkbox {
  margin: 0 20%;
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  position: relative;
}

.checkbox-input {
  margin-top: 4px;
}

.checkbox span {
  font-size: 16px;
  margin-left: 8px;
}
