.workspace-sidebar {
  background-color: #52326b;
  color: rgb(202,196,201);
  margin-top: 73px;
}

.channels-and-messages {
  width: 220px;
  height: calc(100% - 30px);
  background-color: #51397e;
  font-weight: 300;
  font-size: 16px;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 60px;
}

.channels-and-messages:hover {
  overflow-y: scroll;
}

.fa-github {
  height: 20px;
  width: 20px;
}

.website-links {
  background-color: #51397e;
  height: 30px;
  padding-left: 12px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-around;

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #8862e3;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    opacity: 0.5;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}

.current-user-info {
  height: 61px;
  width: 193px;
  padding: 12px 12px 0 15px;
  transition: all 0.2s ease-in-out;
  background-color: #51397e;

  position: absolute;
  top: 0;
  left: 0;

}

.current-user-info div {
  font-weight: bold;
}

.current-user-info:hover {
  background-color: #412656

}

.current-user-info:hover div {
  color: white;
}

.workspace-info {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 4px;
}

.down-caret {
  /* linked to workspace sidebar color */
  color: rgb(202,196,201);
  font-size: 11px;
  margin-left: 10px;
  margin-top: 4px;
  font-weight: 300;
}

.user-logout {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
}


.user-logout button {
  display: flex;
  vertical-align: middle;
  border: 1px solid white;
  border-radius: 5px;
  padding: 1px 4px;
  margin-left: 67px;
}

.user-logout button:hover {
  cursor: pointer;
}

.online-dot {
  margin: 0 4px;
  width: 8px;
  height: 8px;
}
